<nav class="navbar navbar-light bg-light justify-content-between fixed-top">
  <div class="container-fluid">
    <p>
      <a class="navbar-brand pull-left cl-icon-padding" (click)="searchPage()">Search Events</a>
    </p>
  </div>
</nav>


<div class="d-flex justify-content-center align-items-center">
  <div class="container-fluid">
    <form class="form-inline" (ngSubmit) = "search()" #searchForm="ngForm">
      <input name="searchStr" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" ngModel searchStr="ngModel">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="card-columns" >
  <div *ngFor="let event of events ">
    <app-event-card [ngStyle]="{'width':'300' + 'px'}" [event] = "event"></app-event-card>
  </div>
</div>
<span class=" form-control alert alert-danger" *ngIf="noEventFlag">
      No Events Found!
    </span>



<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a (click)="profile()" class="nav-text cl-text-black">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
