<nav class="navbar navbar-light bg-light justify-content-between fixed-top">
  <div class="container-fluid">
    <p>
      <a href="event-list.html" class="cl-text-black cl-icon-padding">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand pull-left cl-icon-padding" href="#">Event</a>
    </p>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>




<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a href="profile.html" class="nav-text cl-text-black">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
</nav>
