<!--The content below is only a placeholder and can be replaced.-->

<!--<a routerLink="/login"> Login</a>-->
<!--<a routerLink="/register"> Register</a>-->
<!--<a routerLink="/user/:uid"> Profile</a>-->
<!--<a routerLink="/user/:uid/search"> Search </a>-->
<!--<a routerLink="/user/:uid/event"> List </a>-->
<!--<a routerLink="/user/:uid/event/new"> New </a>-->
<!--<a routerLink="/user/:uid/event/:eid"> View </a>-->
<!--<a routerLink="/user/:uid/event/:eid/edit"> Edit </a>-->


<router-outlet></router-outlet>
