<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <p>
      <a href="event-list.html" class="cl-text-black cl-icon-padding">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a class="navbar-brand pull-left cl-icon-padding" href="#">Event</a>
    </p>
  </div>
</nav>


<div class="container-fluid">
  <div class="row">
    <div class="landscape col-4">
      <button class="btn btn-success btn-block" *ngIf="attendeeFlag"
              (click)="joinEvent()" >Join Event</button>
      <button class="btn btn-danger  btn-block" *ngIf="joinedFlag"
              (click)="leaveEvent()" >Leave Event</button>
      <button class="btn btn-primary btn-block" *ngIf="hostFlag"
              (click)="editEvent()" >Edit Event</button>
    </div>
    <div class="col-8">
       <div class = "container-fluid">
         <img class="img-responsive img-rounded cl-widget-images "
             src="{{event.image}}">
         <h1 class="form-group">
          {{event.name}}
         </h1>
       </div>
    </div>
  </div>
</div>

<div class="container-fluid justify-content-center">
  <div class="form-group">
    {{date}}
  </div>
  <div class="form-group">
    {{event.description}}
  </div>
  <div class="form-group">
    {{attendees}}/{{event.capacity}}
  </div>

</div>




<nav class="navbar navbar-light bg-light fixed-bottom d-flex flex-row-reverse">
  <div class="p-2">
    <a (click)="profile()" class="nav-text cl-text-black">
      <span class="fas fa-user fontawsome_icon"></span>
    </a>
  </div>
  <div class="p-2">
    <a (click)="search()" class="nav-text cl-text-black">
      <span class="fas fa-search fontawsome_icon"></span>
    </a>
  </div>
</nav>
